body {
    text-align: center;
    background-color: #82D2E4;
    color: white;
}


img {
    width: 130px;
    height: 130px;
    border: 1px solid black;
}

#cartas {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    justify-content: center;
    margin: 0 auto;
    /* border: 2px solid black; */
}

#cartas div {
    margin: 1%;
}